@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");
* {
	
  padding: 0;
  margin: 0;
  font-family: "Radio Canada", sans-serif;
}
body {
  background-image : url("../Images/image9.jpg");
  background-size:cover;

}

h1{
	display:inline block;
	text-align: center;
	font-size: 90px;
	padding: 100px ;
	font-family:Arial Black;
	background: linear-gradient(to right, rgb(0,0,255), rgb(0,0,0));
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	
 }

h2{
	text-align: center; 
    text-decoration: bold;	
	  
  }

h4{
	display:inline block;
	text-align: center;
	font-size: 80px;
	padding: 100px ;
	font-family:Arial Black;
	background: linear-gradient(to right, rgb(255,0,255), rgb(0,0,0));
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	
 }
 h5{
	display:inline block;
	text-align: center;
	font-size: 70px;
	padding: 50px ;
	font-family:Arial Black;
	background: linear-gradient(to right, rgb(0,0,0), rgb(150,0,10));
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	
 }
 h6{
	display:inline block;
	text-align: center;
	font-size: 60px;
	padding: 50px ;
	margin:30px;
	font-family:Arial Black;
	background: linear-gradient(to right, rgb(255,150,0), rgb(150,0,10));
    background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	
}




 h5q{
	display:inline block;
	text-align: center;
	font-size: 30px;
	padding: 50px ;
	font-family:Arial black;
	
	
 }
table{
	font-size: 40px;
	margin-left: 44%;
}
p{
	
	text-align:center;
}

.checkbox
{
	text-align:center;
	
}

.réponse{
	
	text-align:center;
	
}
.bouton1{
  display: block;
  text-align:center;
  margin-left: 44%;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.2s;
}
.bouton1:hover{
   background-color: #ffffff;
   border: 2px solid #0F056B;
   box-shadow: 10px 5px 5px #B0C4DE;
   color: #0F056B;
   text-align: center;
   font-size: 22px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.header h1 {
  text-align: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  
  text-align:center;
  margin-left: 3%;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid black;
  background: white;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px -0px 10px 0px rgb(143, 64, 248, .5), 0px 0px 0px 0px rgb(39, 200, 255, .5);

}
.btn::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}

.btn:hover::after {
  transform: rotate(150deg);
}

.btn:hover {
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

.result {
  text-align: center;
}
.reset {
  text-align: center;
}
#reset {
  border: 2px solid black;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 17px;
  margin: 35px;
  transition: all 0.1s ease-in-out;
}
#reset:hover {
  color: white;
  background-color: black;
}
.continuer
{
  text-align:right;
  border: 2px solid black;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 17px;
  margin: 35px;
  transition: 0.2s;
  
}
.continuer:hover{
   background-color: #ffffff;
   border: 2px solid #0F056B;
   box-shadow: 10px 5px 5px #9400D3;
   color: #0F056B;
   text-align: center;
   font-size: 22px;
}
  .continuerhist
{
  
  border: 2px solid black;
  cursor: pointer;
  color: black;
  margin-left: 44%;
  background-color: white;
  border-radius: 50px;
  padding: 5px 20px;
  font-size: 17px;
  transition: 0.2s;
  
}
.continuerhist:hover{
   background-color: #ffffff;
   border: 2px solid black;
   box-shadow: 10px 5px 5px #8B4513;
   color: #0F056B;
   text-align: center;
   font-size: 22px;
}


.qsuivante
{
  margin-left: 45%;
  text-align:center;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 17px;
  transition: 0.2s;
  
}
.qsuivante:hover{
   background-color: #ffffff;
   border: 1px solid #0F056B;
   box-shadow: 10px 5px 5px #AF8D78;
   color: #0F056B;
   text-align: center;
   font-size: 16px;
}