/* STYLE HISTOIRE */
/* ************** */
.button {
  display: inline-block;
  padding: 8px 15px;
  margin: auto;
  border: 2px solid #111111; 
  border-radius: 5px;
  text-decoration: none;
  color: #303030;
  background-color: #AAAAAA; 
  font-size: 14px;
  font-weight: bold;
}

.button:hover {
  background-color: #FFE4C4; 
  transform: scale(1.2, 1.2);
  transition: 0.4s;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  color: black; 
  text-align: center;
  font-fammily: Times New Roman;
  margin-bottom: 20px;
}

.quiz-form {
  max-width: 400px;
  margin: 0 auto;
}

.question {
  font-size: 16px;
  color: #8B4513; /* Brun foncé pour contraste */
  margin-bottom: 10px;
}


body {
  background-color: #999999;
}